Estore{
	background-image: url("background.jpg");
	background-size: 100% 100%;
    margin-left: 25px;
    margin-right: 25px;
}
title{
	display: block;
	width: auto;
	font-family: "Courier New";
	font-size: 70pt;
	color: white;
	background-image: url("images.png");
    background-repeat: no-repeat;
    background-size: 140px 115px;
    background-position: right top;
	text-align: left;
}
address{
	display: block;
	width: 500px;
	font-family: "Courier New";
	font-size: 15pt;
	font-style: italic;
	color: white;
	text-align: left;
}
contact{
	display: block;
	width: 500px;
	font-family: "Courier New";
	font-size: 15pt;
	font-style: italic;
	color: white;
	text-align: left;
}
URL{
	display: block;
	width: 500px;
	font-family: "Courier New";
	font-size: 15pt;
	font-style: italic;
	color: white;
	text-align: left;
}
items{
	display: block;
    width: auto;
    border: 25px;
    padding: 25px;
}
CPU{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
slogan{
	display:block;
	font-family: Georgia;
	font-size: 15pt;
	font-style: italic;
    padding-left: 23px;
	color: red;
    float:left;
}
heading{
	display:block;
	font-family: Georgia;
	font-size: 20pt;
	color: rgb(253, 118, 1);
	text-align: center;
}
CPUitems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
Monitor{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
Monitoritems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
Keyboard{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
Keyboarditems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
Mouse{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
Mouseitems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
Hard_Disk{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
Hard_Diskitems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
Speaker{
	display:block;
    width: auto;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #181B2E
}
Speakeritems{
	display:inline-block;
    width: 40%;
    border: 25px;
    padding: 25px;
    margin: 25px;
    border:solid 2px #20D9FE
}
subheading{
	display:block;
	font-family: "Times New Roman";
	font-size: 20pt;
	color:orange;
}
name, description, price, quantity, manufacturer, resolution, dimension, color, item, speakerinfo{
	display:list-item;
	color: white;
}
footer{
    display: block;
    width: 500px;
    font-family: "Courier New";
    font-size: 15pt;
    font-style: italic;
    color: white;
    float: right;
}